<!doctype html>
<html lang="en">
    <head>
        <title>MyBudget - Home</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="../static/Bootstrap/bootstrap.css" rel="stylesheet"/>

        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body style="background-color: #f7f7f8; color:#0F1108">
        <nav class="navbar navbar-extend-md navbar-dark" style="background-color: #0F1108;">
            <div class="container-xxl">
                <div class="row">
                    <div class="col">
                        <a href="#intro" class="navbar-brand">
                            <span class="fw-bold">
                                <!--<img src="Assets\Blue logo cropped.png" class="img-fluid" alt="Silly logo"></h1>    -->
                            </span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#intro" class="navbar-brand">
                            <span class="fw-bold">
                                <h1>MyBudget</h1>    
                            </span>
                        </a>
                    </div>
                </div>
                
            </div>
        </nav>
        <main>
            <div class="container-fluid">
                <div class="row text-center m-5">
                    <div class="col p-auto">
                        <h1>
                            Hello, user!
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col text-center">
                        <p>Welcome! If you have an account with us already, please input your details below, and click register if you do not.</p>
                    </div>
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-lg-5 col-sm-4">
                        <div class="px-4 pt-3 pb-4 bg-secondary rounded-4">
                            <label for="budget" class="form-label">Budget</label>
                                <div class="input-group flex-wrap">
                                    <span class="input-group-text bg-secondary" id="budgetaddon1">£</span>
                                    <input type="text" class="form-control bg-secondary" id="budget" aria-describedby="budget input">
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-4">
                        <div class="px-4 pt-3 pb-4 bg-secondary rounded-4">
                            <label for="Expenses" class="form-label">Expenses</label>
                                <div class="input-group flex-wrap">
                                    <span class="input-group-text bg-secondary" id="expensesaddon1">£</span>
                                    <input type="text" class="form-control bg-secondary" id="Expenses" aria-describedby="expenses input">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <h1 class="text-center">
                            Transactions
                        </h1>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        ></script>
        <script
            src="../static/Bootstrap/bootstrap.js"
        ></script>
        <script src="../static/loginSignup.js"></script>
    </body>
</html>
