<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Planner</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="logo" type="button" onclick="location.href='./'">
            <h1>MyBudget</h1>
        </div>
    </header>

    <main>
        <h1 style="padding: 0.5cm; margin: 0; font-size: 0.7cm;" class="homePage_welcome">Hi , From here you can manage your finances.</h1>
    
        <div class="expenses">
            <p>Expenses: </p>

            <div id="expenses-bar">
            </div>
            <p id="expenses-hoverLabel"></p>
        </div>
    
    </main>

    <footer>
        <footer>
            <nav id="navBar">
                <ul>
                    <li><a href="info">Info</a></li>
                    <li><a href="budget">Budget</a></li>
                    <li><a href="expenses">Expenses</a></li>
                    <li><a href="camera">Camera</a></li>
                    <li><a type="button" onclick="deleteCookie('username');location.href='/';">Sign Out</a></li>
                </ul>
            </nav>
        </footer>
    </footer>

    <script src="/static/app.js"></script>
    <script src="/static/statsApp.js"></script>
</body>
</html>
