<!doctype html>
<html lang="en">
    <head>
        <title>MyBudget - Home</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="../static/Bootstrap/bootstrap.css" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="../static/spin_disabler.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Custom In-Document JavaScript -->
        <script>
            document.addEventListener("DOMContentLoaded", () => {
            const budgetInput = document.getElementById("budget-input");

            budgetInput.addEventListener("input", async (event) => {
                const budgetValue = parseInt(event.target.value, 10);


                // Ensure valid integer input
                if (isNaN(budgetValue)) return;

                try {
                    const response = await fetch("/home", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ budget: budgetValue })
                    });

                    // if (!response.ok) {
                    //     throw new Error("Failed to update budget");
                    // }

                    const result = await response.json();
                    console.log("Server Response:", result);
                    
                } catch (error) {
                    console.error(error);
                }
            });
        });

        </script>
    </head>

    <body style="padding-bottom: 120px;">
        <header>
            <div class="container-fluid" style="background-color: #000000;">
                <div class="row m-0">
                    <div class="col">
                        <span class="fw-bold text-light">
                            <h1>MyBudget</h1>    
                        </span>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold">
                            <img src="/static/app logo short.png" class="img-fluid" alt="Black GBP Sign">
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container-fluid">
                <div class="row text-center mt-5">
                    <div class="col p-auto">
                        <h1>
                            Hey, {{user}}!
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col text-center">
                        <p>Here are the figures for your financing!</p>
                    </div>
                </div>
                <div id="carouselIndicator" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="0" class="active bg-cust1" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="1" class="bg-cust1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <!-- Despite data-bs-ride not being carousel, it auto plays, so massive interval stops that -->
                        <div class="carousel-item active" data-bs-interval="10000000000">
                            <div class="row justify-content-evenly">
                                <div class="col-lg-5 col-sm-4 mb-1">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4 border border-dark">
                                        <label for="budget" class="form-label">Budget</label>
                                            <div class="input-group flex-wrap">
                                                <span class="input-group-text bg-cust1" id="budgetaddon1">£</span>
                                                <input type="number" class="form-control bg-cust1" id="budget-input" aria-describedby="budget input" value="{{budget}}">
                                            </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-sm-4 mb-1">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4 border border-dark">
                                        <label for="Expenses" class="form-label">Expenses</label>
                                            <div class="input-group flex-wrap">
                                                <span class="input-group-text bg-cust1" id="expensesaddon1">£</span>
                                                <input type="number" class="form-control bg-cust1" id="Expenses" aria-describedby="expenses input" value="{{expenses}}">
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="col-lg-5 col-sm-4 mb-5">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4 border border-dark">
                                        <label for="budget" class="form-label">Savings</label>
                                            <div class="input-group flex-wrap">
                                                <span class="input-group-text bg-cust1" id="budgetaddon1">£</span>
                                                <input type="number" class="form-control bg-cust1" id="budget-input" aria-describedby="budget input" value="{{savings}}">
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000000000">
                            <div class="row justify-content-evenly">
                                <div class="col-lg-5 col-sm-4 mb-1">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4 border border-dark">
                                        <label for="budget" class="form-label">Total spent</label>
                                            <div class="input-group flex-wrap">
                                                Insert bar chart of total amount spent per category
                                            </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-sm-4 mb-1">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4 border border-dark">
                                        <label for="Expenses" class="form-label">Spending habits</label>
                                            <div class="input-group flex-wrap">
                                                Insert pie chart of percentages spent per category
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="col-lg-5 col-sm-4 mb-5">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4 border border-dark">
                                        <label for="budget" class="form-label">Streak</label>
                                            <div class="input-group flex-wrap">
                                                <p class="h1">Streak: [[streak]]</p>
                                                Insert image of fire instead of heading
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--use carousel bootstrap-->
                <div class="row justify-content-center">
                    <div class="col">
                        <h1 class="text-center">
                            Transactions
                        </h1>
                    </div>
                </div>

                {%for purchase in purchases %}
                <div class="row justify-content-between bg-cust1 mb-1 rounded-4">
                    <div class="col">
                        <div class="p-4">
                            {{purchase.label}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 text-end">
                            £{{purchase.price}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>


        <nav class="container-fluid fixed-bottom" style="background-color: #000000;">
            <div class="row justify-content-center p-3">
                <div class="col-5 text-end d-grid">
                    <div class="btn-group">
                        <a href="/home" class="btn btn-secondary btn-outline-light btn-sm p-3">Home</a>
                        <a href="/savings" class="btn btn-secondary btn-outline-light btn-sm p-3">Savings</a>
                    </div>
                </div>
                <div class="col-2 text-center d-grid">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary btn-outline-light btn-sm rounded-3 p-3" data-bs-toggle="dropdown" aria-expanded="false">
                            +
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/expenses" class="dropdown-item">Expenses</a></li>
                            <li><a href="/capture" class="dropdown-item">Receipt Capture</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-5 d-grid">
                    <div class="btn-group">
                        <a href="/leaderboard" class="btn btn-secondary btn-outline-light btn-sm p-3">Leaderboard</a>
                        <a href="/profile" class="btn btn-secondary btn-outline-light btn-sm p-3">Profile</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        ></script>
        <script
            src="../static/Bootstrap/bootstrap.js"
        ></script>

        <!-- Custom JavaScript -->
        <script
            src="/static/app.js"
        ></script>

    </body>
</html>
