<!doctype html>
<html lang="en">
    <head>
        <title>MyBudget - Home</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="../static/Bootstrap/bootstrap.css" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="../static/spin_disabler.css" rel="stylesheet">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Custom In-Document JavaScript -->
        <script>
            document.addEventListener("DOMContentLoaded", () => {
            const budgetInput = document.getElementById("budget-input");

            budgetInput.addEventListener("input", async (event) => {
                const budgetValue = parseInt(event.target.value, 10);


                // Ensure valid integer input
                if (isNaN(budgetValue)) return;

                try {
                    const response = await fetch("/home", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ budget: budgetValue })
                    });

                    // if (!response.ok) {
                    //     throw new Error("Failed to update budget");
                    // }

                    const result = await response.json();
                    console.log("Server Response:", result);
                } catch (error) {
                    console.error(error);
                }
            });
        });

        </script>
    </head>

    <body style="background-color: #f7f7f8; color:#000000">
        <header>
            <div class="container-fluid" style="background-color: #000000;">
                <div class="row m-0">
                    <div class="col">
                        <span class="fw-bold text-light">
                            <h1>MyBudget</h1>    
                        </span>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold">
                            <img src="../Photos/app logo short.png" class="img-fluid" alt="Black GBP Sign">
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container-fluid">
                <div class="row text-center mt-5">
                    <div class="col p-auto">
                        <h1>
                            Hey, {{user}}!
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col text-center">
                        <p>Here are the figures for your financing!</p>
                    </div>
                </div>
                <div id="carouselIndicator" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="0" class="active bg-secondary" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="1" class="bg-secondary" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <!-- Despite data-bs-ride not being carousel, it auto plays, so massive interval stops that -->
                        <div class="carousel-item active" data-bs-interval="10000000000">
                            <div class="row justify-content-evenly mb-5">
                                <div class="col-lg-5 col-sm-4">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4">
                                        <label for="budget" class="form-label">Budget</label>
                                            <div class="input-group flex-wrap">
                                                <span class="input-group-text bg-secondary" id="budgetaddon1">£</span>
                                                <input type="number" class="form-control bg-secondary" id="budget-input" aria-describedby="budget input" value="{{budget}}">
                                            </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-sm-4">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4">
                                        <label for="Expenses" class="form-label">Expenses</label>
                                            <div class="input-group flex-wrap">
                                                <span class="input-group-text bg-secondary" id="expensesaddon1">£</span>
                                                <input type="number" class="form-control bg-secondary" id="Expenses" aria-describedby="expenses input">
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-evenly mb-5">
                                <div class="col-lg-5 col-sm-4">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4">
                                        <label for="budget" class="form-label">Savings</label>
                                            <div class="input-group flex-wrap">
                                                <span class="input-group-text bg-secondary" id="budgetaddon1">£</span>
                                                <input type="number" class="form-control bg-secondary" id="budget-input" aria-describedby="budget input" value="{{budget}}">
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000000000">
                            <div class="row justify-content-evenly mb-5">
                                <div class="col-lg-5 col-sm-4">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4">
                                        <label for="budget" class="form-label">Total spent</label>
                                            <div class="input-group flex-wrap">
                                                Insert bar chart of total amount spent per category
                                            </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-sm-4">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4">
                                        <label for="Expenses" class="form-label">Spending habits</label>
                                            <div class="input-group flex-wrap">
                                                Insert pie chart of percentages spent per category
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-evenly mb-5">
                                <div class="col-lg-5 col-sm-4">
                                    <div class="px-4 pt-3 pb-4 bg-secondary rounded-4">
                                        <label for="budget" class="form-label">Savings</label>
                                            <div class="input-group flex-wrap">
                                                <p class="h1">Streak: [[streak]]</p>
                                                Insert image of fire instead of heading
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicator" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicator" data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!--use carousel bootstrap-->
                <div class="row justify-content-center">
                    <div class="col">
                        <h1 class="text-center">
                            Transactions
                        </h1>
                    </div>
                </div>

                {%for purchase in purchases %}
                <div class="row justify-content-between bg-secondary mb-1 rounded-4">
                    <div class="col">
                        <div class="p-4">
                            {{purchase.label}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-4 text-end">
                            £{{purchase.price}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>

        <nav class="navbar navbar-extend-md navbar-dark m-0 fixed-bottom" style="background-color: #000000;">
            <div class="container-fluid justify-content-center py-2" style="background-color: #000000;">
                <div class="col btn-group m-0">
                    <a href="/home" class="btn btn-secondary btn-outline-light btn-lg mx-0">Home</a>
                    <a href="/savings" class="btn btn-secondary btn-outline-light btn-lg mx-0">Savings</a>
                </div>
                <div class="col-12 col-md-1 text-center m-0">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary btn-outline-light btn-lg rounded-3 mx-0 my-2" data-bs-toggle="dropdown" aria-expanded="false">
                            +
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/expenses" class="dropdown-item">Expenses</a></li>
                            <li><a href="/capture" class="dropdown-item">Receipt Capture</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col btn-group m-0">
                    <a href="/leaderboard" class="btn btn-secondary btn-outline-light btn-lg mx-0 ms-1">Leaderboard</a>
                    <a href="/profile" class="btn btn-secondary btn-outline-light btn-lg mx-0">Profile</a>
                </div>
            </div>
        </nav>

        <footer class="my-5">
            <p>© 2025 Budget Planner. All rights reserved.</p>
        </footer>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        ></script>
        <script
            src="../static/Bootstrap/bootstrap.js"
        ></script>

        <!-- Custom JavaScript -->
        <script
            src="link to custom JavaScript"
        ></script>
      
    </body>
</html>
