<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Planner</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body id="frontPage"> 
    <header>
        <div class="logo" type="button" onclick="location.href='./'">
            <h1>Welcome to Your Budget Planner!</h1>
        </div>
    </header>

    <main>
        <p>Hi, with us you can manage your spending and save money in a fun and interactive way!</p>

        <div class="homePageGrid">
            <div style="grid-column: 1; grid-row: 1;">
                <h2>Track spending</h2>
                <p>Track your weekly spending, asigning tags to your purchases to let you see where your money is going!</p>
            </div>
            <div style="grid-column: 2; grid-row: 2;">
                <h2>Easy to use</h2>
                <p>Take a photo of your receipt to easily track your purchases.</p>
            </div>
            <div style="grid-column: 1; grid-row: 3;">
                <h2>Save with friends</h2>
                <p>See how much your friends saved this week, together save more and have fun.</p>
            </div>

            <div style="grid-column: 1; grid-row: 4;">
                <a href="login">Login</a>
            </div>

            <div style="grid-column: 2; grid-row: 4;">
                <a href="signup">Signup</a>
            </div>
        </div>
    </main>

    <footer>
        <nav id="navBar">
            <ul>
                <li><a href="profile">Profile</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="signup">Sign Up</a></li>
            </ul>
        </nav>
    </footer>

    <script src="./app.js"></script>
</body>
</html>
