<!doctype html>
<html lang="en">
    <head>
        <title>MyBudget - Login</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="../static/Bootstrap/bootstrap.css" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="link to custom css" rel="stylesheet"/>

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- <script src="/static/loginSignup.js"></script> -->

    </head>

    <body>
        <header>
            <div class="container-fluid" style="background-color: #0F1108;">
                <div class="row m-0">
                    <div class="col">
                        <span class="fw-bold text-light">
                            <h1>MyBudget</h1>    
                        </span>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold">
                            <img src="../Photos/app logo short.png" class="img-fluid" alt="Black GBP Sign">
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container-fluid">
                <div class="row text-center m-5">
                    <div class="col p-auto">
                        <h1>
                            Login
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col text-center">
                        <p>Welcome! If you have an account with us already, please input your details below, and click <a href="signup.html" class="text-dark link-underline link-underline-opacity-0"><b><i>here</i></b></a> to register if you do not.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form id="login_form" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <div class="input-group flex-wrap">
                                    <span class="input-group-text" id="useraddon1"></span>
                                    <input type="text" class="form-control" id="username" aria-describedby="username input" name="username">
                                </div>
                                <div id="username_text" class="form-text" style="color:#0F1108">Please input your username.</div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <div class="input-group flex-wrap">
                                    <span class="input-group-text" id="passaddon1"></span>
                                    <input type="password" class="form-control" id="password" aria-describedby="password input" name="password">
                                </div>
                                <div id="password_text" class="form-text" style="color:#0F1108">Please input your password.</div>
                            </div>
                            <input type="submit"></input>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer class="my-5">
            <p>© 2025 Budget Planner. All rights reserved.</p>
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        ></script>

        <script
            src="../static/Bootstrap/bootstrap.js"
        ></script>
        <script src="/static/app.js"></script>
    </body>
</html>
