<!doctype html>
<html lang="en">
    <head>
        <title>MyBudget - Profile</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="../static/Bootstrap/bootstrap.css" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="link to custom css" rel="stylesheet"/>

        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body>
        <header>
            <div class="container-fluid" style="background-color: #0F1108;">
                <div class="row m-0">
                    <div class="col">
                        <span class="fw-bold text-light">
                            <h1>MyBudget</h1>    
                        </span>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold">
                            <img src="../Photos/app logo short.png" class="img-fluid" alt="Black GBP Sign">
                        </span>
                    </div>
                </div>
            </div>
        </header>
            
    <main>
        <section>
            <h2>Your Profile</h2>

            <p>Spending info here</p>
        </section>

        <script src="./app.js"></script>
    </main>

    <footer>
        <nav id="navBar">
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="expenses.html">Expenses</a></li>
                <li><a href="camera.html">Camera</a></li>
                <li><a type="button" onclick="deleteCookie('username');location.href='./profile.html'">Sign out</a></li>
            </ul>
        </nav>

        <p>© 2025 Budget Planner. All rights reserved.</p>
    </footer>
</body>
</html>
