<!doctype html>
<html lang="en">
<head>
    <title>Add Purchase</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <header class="container-fluid bg-dark text-light py-3 text-center">
        <h1>Add a New Purchase</h1>
    </header>

    <main class="container my-4">
        <form method="POST" action="/purchase">
            <div class="mb-3">
                <label for="label" class="form-label">Purchase Name:</label>
                <input type="text" class="form-control" id="label" name="label" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price (£):</label>
                <input type="number" class="form-control" id="price" name="price" step="0.01" min="0.01" required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <select class="form-control" id="category" name="category" required>
                    <option>Food & Drinks</option>
                    <option>Transportation</option>
                    <option>School Supplies</option>
                    <option>Rent & Utilities</option>
                    <option>Phone Bill</option>
                    <option>Entertainment</option>
                    <option>Clothing & Accessories</option>
                    <option>Personal Care</option>
                    <option>Fitness</option>
                    <option>Socializing</option>
                    <option>Tuition & Fees</option>
                    <option>Online Subscriptions</option>
                    <option>Emergency Fund & Savings</option>
                    <option>Other</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Purchase</button>
        </form>
    </main>

    <footer class="text-center my-4">
        <a href="/capture" class="btn btn-warning">Capture Receipt</a>
        <a href="/home" class="btn btn-secondary">Back to Home</a>
    </footer>
</body>
</html>
