<!doctype html>
<html lang="en">
    <head>
        <title>MyBudget - Savings</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="../static/Bootstrap/bootstrap.css" rel="stylesheet"/>
        
        <!-- Custom CSS -->
        <link href="https://fonts.googleapis.com"rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
        
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body style="padding-bottom: 120px;">
        <header>
            <div class="container-fluid" style="background-color: #000000;">
                <div class="row m-0">
                    <div class="col">
                        <span class="fw-bold text-light">
                            <h1>MyBudget</h1>    
                        </span>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold">
                            <img src="/static/app logo short.png" class="img-fluid" alt="Black GBP Sign">
                        </span>
                    </div>
                </div>
            </div>
        </header>
            
        <main>
            <h3 style="margin: 0.5cm;">Your Savings</h3>

            <!-- <h3 style="margin: 0.5cm;">Savings</h3> -->
            <div>
                {% for category, purchases in purchases_by_category.items() %}
                <div class="category-container bg-cust1" style="padding: 0.3cm; margin: 0.5cm; border-radius: 0.3cm;">
                    {%if purchases%}
                        <h1>{{ category }} ({{ purchases|length }} purchases)</h1>
                    <table  class="purchase-table">
                        {% for purchase in purchases %}
                        <tr>
                            <td>{{ purchase.label }}</td>
                            <td>£{{ purchase.price }}</td>
                            <td>{{ purchase.date.strftime('%Y-%m-%d') if purchase.date else 'N/A' }}</td>
                        </tr>
                        {% endfor %}
                    {%endif%}
                    </table>
                </div>
            {% endfor %}
            </div>
        </main>

        <nav class="container-fluid fixed-bottom" style="background-color: #000000;">
            <div class="row justify-content-center p-2">
                <div class="col-5 text-end d-grid">
                    <div class="btn-group">
                        <a href="/home" class="btn btn-secondary btn-outline-light btn-sm">Home</a>
                        <a href="/savings" class="btn btn-secondary btn-outline-light btn-sm">Savings</a>
                    </div>
                </div>
                <div class="col-2 text-center d-grid">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary btn-outline-light btn-sm rounded-3" data-bs-toggle="dropdown" aria-expanded="false">
                            +
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/expenses" class="dropdown-item">Expenses</a></li>
                            <li><a href="/capture" class="dropdown-item">Receipt Capture</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-5 d-grid">
                    <div class="btn-group">
                        <a href="/leaderboard" class="btn btn-secondary btn-outline-light btn-sm">Leaderboard</a>
                        <a href="/profile" class="btn btn-secondary btn-outline-light btn-sm">Profile</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        ></script>
        <script
            src="../static/Bootstrap/bootstrap.js"
        ></script>

        <!-- Custom JavaScript -->
        <script
            src="/static/app.js"
        ></script>
    </body>
</html>
