<!doctype html>
<html lang="en">
    <head>
        <title>MyBudget - Savings</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="../static/Bootstrap/bootstrap.css" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="link to custom css" rel="stylesheet"/>

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body>
        <header>
            <div class="container-fluid" style="background-color: #000000;">
                <div class="row m-0">
                    <div class="col">
                        <span class="fw-bold text-light">
                            <h1>MyBudget</h1>    
                        </span>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold">
                            <img src="../Photos/app logo short.png" class="img-fluid" alt="Black GBP Sign">
                        </span>
                    </div>
                </div>
            </div>
        </header>
            
        <main>
            <div>
                {% for category, purchases in purchases_by_category.items() %}
                <div class="category-container bg-cust1" style="padding: 0.3cm; margin: 0.5cm; border-radius: 0.3cm;">
                    {%if purchases%}
                        <h1>{{ category }} ({{ purchases|length }} purchases)</h1>
                    <table  class="purchase-table">
                        {% for purchase in purchases %}
                        <tr>
                            <td>{{ purchase.label }}</td>
                            <td>£{{ purchase.price }}</td>
                            <td>{{ purchase.date.strftime('%Y-%m-%d') if purchase.date else 'N/A' }}</td>
                        </tr>
                        {% endfor %}
                    {%endif%}
                    </table>
                </div>
            {% endfor %}
            </div>
        </main>

        <nav class="navbar navbar-extend-md navbar-dark m-0 fixed-bottom" style="background-color: #000000;">
            <div class="container-fluid justify-content-center py-2" style="background-color: #000000;">
                <div class="col btn-group m-0">
                    <a href="/home" class="btn btn-secondary btn-outline-light btn-lg mx-0">Home</a>
                    <a href="/savings" class="btn btn-secondary btn-outline-light btn-lg mx-0">Savings</a>
                </div>
                <div class="col-12 col-md-1 text-center m-0">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary btn-outline-light btn-lg rounded-3 mx-0 my-2" data-bs-toggle="dropdown" aria-expanded="false">
                            +
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/expenses" class="dropdown-item">Expenses</a></li>
                            <li><a href="/capture" class="dropdown-item">Receipt Capture</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col btn-group m-0">
                    <a href="/leaderboard" class="btn btn-secondary btn-outline-light btn-lg mx-0 ms-1">Leaderboard</a>
                    <a href="/profile" class="btn btn-secondary btn-outline-light btn-lg mx-0">Profile</a>
                </div>
            </div>
        </nav>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        ></script>
        <script
            src="../static/Bootstrap/bootstrap.js"
        ></script>

        <!-- Custom JavaScript -->
        <script
            src="/static/app.js"
        ></script>
    </body>
</html>
