<!doctype html>
<html lang="en">
    <head>
        <title>MyBudget - Settings</title>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="../static/Bootstrap/bootstrap.css" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="link to custom css" rel="stylesheet"/>

        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body>
        <header>
            <div class="container-fluid" style="background-color: #0F1108;">
                <div class="row m-0">
                    <div class="col">
                        <span class="fw-bold text-light">
                            <h1>MyBudget</h1>    
                        </span>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold">
                            <img src="../Photos/app logo short.png" class="img-fluid" alt="Black GBP Sign">
                        </span>
                    </div>
                </div>
            </div>
        </header>
            
        <main>
            main content of page
            <a type="button" class="btn" onclick="deleteCookie('username');location.href='/';">Sign Out</a>
        </main>

        <nav class="navbar navbar-extend-md navbar-dark m-0 fixed-bottom" style="background-color: #0F1108;">
            <div class="container-fluid justify-content-center py-2" style="background-color: #0F1108;">
                <div class="col btn-group m-0">
                    <a href="/home" class="btn btn-secondary btn-outline-light btn-lg mx-0">Home</a>
                    <a href="/savings" class="btn btn-secondary btn-outline-light btn-lg mx-0">Savings</a>
                    <a href="/friends" class="btn btn-secondary btn-outline-light btn-lg mx-0 me-1">Friends</a>
                </div>
                <div class="col-12 col-md-1 text-center">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary btn-outline-light btn-lg rounded-pill mx-0 my-2" data-bs-toggle="dropdown" aria-expanded="false">
                            +
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/expenses" class="dropdown-item">Expenses</a></li>
                            <li><a href="/capture" class="dropdown-item">Receipt Capture</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col btn-group m-0">
                    <a href="/leaderboard" class="btn btn-secondary btn-outline-light btn-lg mx-0 ms-1">Leaderboard</a>
                    <a href="/profile" class="btn btn-secondary btn-outline-light btn-lg mx-0">Profile</a>
                    <a href="/settings" class="btn btn-secondary btn-outline-light btn-lg mx-0">Settings</a>
                </div>
            </div>
        </nav>

        <footer class="my-5">
            <p>© 2025 Budget Planner. All rights reserved.</p>
        </footer>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        ></script>
        <script
            src="../static/Bootstrap/bootstrap.js"
        ></script>

        <!-- Custom JavaScript -->
        <script 
            src="/static/app.js"
        ></script>
        <script 
            src="/static/statsApp.js"
        ></script>
    </body>
</html>
