<!doctype html>
<html lang="en">
    <head>
        <title>MyBudget - Signup</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="../static/Bootstrap/bootstrap.css" rel="stylesheet"/>
        
        <!-- Custom CSS -->
        <link href="https://fonts.googleapis.com"rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
        
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>


    <body>
        <header>
            <div class="container-fluid" style="background-color: #000000;">
                <div class="row m-0">
                    <div class="col">
                        <span class="fw-bold text-light">
                            <h1>MyBudget</h1>    
                        </span>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold">
                            <img src="/static/app logo short.png" class="img-fluid" alt="Black GBP Sign">
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container-fluid">
                <div class="row text-center m-5">
                    <div class="col p-auto">
                        <h1>
                            Sign up
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col text-center">
                        <p>Welcome! Please input the details you wish to use to login. You must not forget your password, so make it memorable.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form id="signupForm" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <div class="input-group flex-wrap">
                                    <span class="input-group-text" id="useraddon1"></span>
                                    <input type="text" class="form-control" id="username" aria-describedby="username input" name="username">
                                </div>
                                <div id="username_text" class="form-text" style="color:#000000">Please input your username.</div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <div class="input-group flex-wrap">
                                    <span class="input-group-text" id="passaddon1"></span>
                                    <input type="password" class="form-control" id="password" aria-describedby="password input" name="password">
                                </div>
                                <div id="password_text" class="form-text" style="color:#000000">Please input your password.</div>
                            </div>
                            <input type="submit"></input>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer class="my-5">
            <p>© 2025 Budget Planner. All rights reserved.</p>
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        ></script>

        <script
            src="../static/Bootstrap/bootstrap.js"
        ></script>
        <script src="/static/loginSignup.js"></script>
        <script src="/static/app.js"></script>
    </body>
</html>
