<!doctype html>
<html lang="en">
    <head>
        <title>MyBudget - Welcome</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="manifest" href="/static/manifest.json">

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="../static/Bootstrap/bootstrap.css" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="https://fonts.googleapis.com"rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    </head>


    <body>
        <header>
            <div class="container-fluid" style="background-color: #000000;">
                <div class="row m-0">
                    <div class="col">
                        <span class="fw-bold text-light">
                            <h1>MyBudget</h1>    
                        </span>
                    </div>
                    <div class="col text-end">
                        <span class="fw-bold">
                            <img src="/static/app_logo_short.png" class="img-fluid" alt="Black GBP Sign">
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container-fluid">
                <div class="row text-center m-3">
                    <div class="col p-auto">
                        <h1>
                            Welcome!
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col text-center">
                        <p>Welcome to MyBudget, where we aim to help you save money in everyway you can!</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="d-grid gap-2 col-6 my-2">
                        <a class="btn btn-secondary py-2" href="/login"><h2>Login</h2></a>    
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="d-grid gap-2 col-6 my-2">
                        <a class="btn btn-secondary py-2" href="/signup"><h2>Sign Up</h2></a>    
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-6 text-center">
                <div class="p-5">
                    <img src="/static/credit-card-desktop-lloyds.jpg" alt="surf" style="max-width: 100%;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                    border-radius: 10px;
                    margin-bottom: 30px;
                    
                    @media (max-width: 768px) {
                        img {
                            width: 90%;
                        }
                    }

                    @media (max-width: 480px) {
                        img {
                            width: 100%;
                        }
                    }
                    "
                    >
                    <h1>Welcome to <strong>MyBudget</strong> – The Ultimate Budgeting Webapp!</h1>
                    <p>Tired of losing track of your spending? <strong>MyBudget</strong> makes budgeting effortless and smart.</p>
                    <p>Our AI-powered platform helps you log expenses instantly—either by manually entering them or snapping a picture of your receipt and having our state of the art AI enter it for you.</p>
                    <p >But here’s the twist, we make budgeting a <strong>challenge</strong>.  Compete with others on our <strong>leaderboard</strong> to see who’s saving the most each week.</p>
                    <p>Track your progress, set savings goals, and get inspired by seeing how you stack up against other users.</p>
                    <h2>Start your budgeting journey today – <strong>because saving money should be rewarding!</strong></h2>
                </div>
            </div>
            
        </main>
            <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        ></script>

        <script
            src="../static/Bootstrap/bootstrap.js"
        ></script>
        <script src="../static/loginSignup.js"></script>
        <script>
            // Check if service worker is supported by the browser
            if ('serviceWorker' in navigator) {
                // Add event listener for when the page loads
                window.addEventListener('load', () => {
                    // Register the service worker
                    navigator.serviceWorker.register('/static/service-worker.js')
                        .then(registration => {
                            console.log('Service Worker registered:', registration);
                        })
                        .catch(error => {
                            console.log('Service Worker registration failed:', error);
                        });
                });
            }
          </script>
    </body>
</html>
